.controllers {
	display: flex;
	justify-content: center;
}

.controllers__counter {
	display: flex;
}

.controllers__input-box {
	position: relative;
	margin-right: 0.5rem;
}

.controllers__input::-webkit-outer-spin-button,
.controllers__input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.controllers__input[type='number'] {
	-moz-appearance: textfield;
}

.controllers__input {
	max-width: 6rem;
	height: 6rem;
	font-size: 2rem;
	text-align: center;
	border: 1px solid transparent;
	background-color: var(--bgc-grey);
	transition: 0.3s ease;
}

.controllers__input--error {
	border-color: tomato;
	color: tomato;
	background-color: white;
}

.controllers__input,
.controllers__input:focus {
	outline: none;
}

.controllers__error-text {
	font-size: 1.2rem;
	margin: 0;
	line-height: 1;
	display: none;
	color: tomato;
	position: absolute;
	top: 100%;
	left: -100%;
	white-space: nowrap;
	padding: 0.3rem 0.5rem;
	border-radius: 0.5rem;
}

.controllers__error-text--open {
	display: block;
}

.controllers__button-box {
	display: flex;
	flex-direction: column;
}

.controllers__button {
	height: 2.9rem;
	width: 2.9rem;
	border: none;
	background-color: var(--bgc-darck-grey);
	cursor: pointer;
	transition: all 0.2s;
	position: relative;
}

.controllers__button:hover {
	transform: translateY(-2px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.controllers__button:active {
	transform: translateY(-1px);
	box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2),
		inset 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

.controllers__button:not(:last-child) {
	margin-bottom: 2px;
}

.controllers__submit {
	background-color: #000;
	border: none;
	width: 15rem;
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.2rem;
	letter-spacing: 1px;
	max-height: 6rem;
	margin-left: 2rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.controllers__submit:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.controllers__submit:disabled {
	background-color: #7d7d7d;
	cursor: not-allowed;
}
