.header {
	min-height: 5rem;
	font-size: 1.6rem;
	border-bottom: #a0a0a0 solid 1px;
}

.header__container {
	padding: 0 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo-box {
	transform: translateX(-1.5rem);
}

.header__nav {
	display: none;
}

@media screen and (min-width: 767px) {
	.header__nav {
		display: block;
	}
}

.header__nav-list {
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
}

.header__nav-link {
	display: block;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 600;
	word-spacing: 0.5rem;
}

.header__nav-link:not(:last-child) {
	margin-right: 3rem;
}
