.product__wrap {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	font-size: 1.6rem;
	padding: 0 1rem;
}

@media screen and (min-width: 576px) {
	.product__wrap {
		padding: 0;
	}
}

.product__img-box {
	width: 100%;
	position: relative;
	overflow: hidden;
	padding-bottom: 40%;
	margin-bottom: 3rem;
}

@media screen and (min-width: 1400px) {
	.product__img-box {
		width: 65%;
		margin-right: 5rem;
	}
}

.product__img {
	position: absolute;
	height: 100%;
	display: block;
	object-fit: cover;
	object-position: center;
	width: 100%;
	z-index: 1;
}

.product__info {
	width: 100%;
}

@media screen and (min-width: 1400px) {
	.product__info {
		width: calc(35% - 5rem);
	}
}

.product__caption * {
	margin-bottom: 2rem;
}

.product__brand,
.product__price {
	font-weight: 600;
	color: var(--text-light-grey);
}

.product__title {
	font-size: 4rem;
	line-height: 1;
	font-weight: 400;
	font-family: serif;
}

.product__description {
	color: var(--text-grey);
}
